{% extends 'base.html.twig' %}

{% block title %}Update Your Info{% endblock %}

{% block body %}
    <h1>Update User Form!</h1>
	{{ form_start(form) }}
		
		{% for user in users %}
		<div>
			{{ form_label(form.firstName) }}
			{{ user.firstName }}
		<br>
		{% endfor %}

    {{ form_end(form) }}
	
{% endblock %}