{% extends 'base.html.twig' %}
{% block title %}Login Input{% endblock %}

{% block body %}
{% if error %}
	<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="POST">
	<label for="email">Email:</label>
	<input type="email" id="email" name="_username" value="{{ last_username}}" />

	<label for="password">Password:</label>
	<input type="password" id="plainPassword" name="_password" />
	
	<button type="submit">Login</button>
</form>
{% endblock %}